



.open-sans-normal{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: 
    "wdth" 100;
}

/* shared style  */
.secondary-bg{
    background-color: #FFF8F3;
}
.text-primary{
    color: #FD6E0A;
}
.dark-2{
    color: #474747;
}

.btn-primary{
    background-color: #FD6E0A;
    font-weight: bold;
    color: white;
    font-size: 20px;
    padding: 18px 35px;
    border-radius: 5px;
    border: none;
}
.section-title{
    font-weight: bold;
    font-size: 35px;
    color:#181818;
}
.section-des{
    color: #757575;
}
/* Nav styles */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
}

.nav-title{
    font-weight: 800;
    font-size: 45px;
}

nav ul{
    display: flex;
    align-items: center;
}


nav ul li{
    list-style: none;
    margin-right: 51px;
}

nav li a{
    text-decoration: none;
    font-size: 20px;
    
}

/* banner style */
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 230px;
}
.banner-greetings{
    font-size: 45px;
    font-weight: 600;
    margin-bottom: -30px;
}

.banner-title{
    font-size: 85px;
    font-weight: bold;
}

.banner-prf{
    width: 580px;
}

.banner-description{
    margin-bottom: 40px;
}
.banner-content{
    max-width: 580px;
}

/* header */
.header{
    background-image: url('../images/developer.png'),url(../images/header_bg.png);
    background-position: top left, bottom right;
    background-repeat: no-repeat;
    margin-bottom: 130px;
}

/* .main-styles{ */
main{
    max-width: 1140px;
    margin: 0 auto;
}

.about{
    border-radius: 10px;
    padding: 130 px 150px;
    text-align: center;
}

.about-items{
    display: flex;
    justify-content: space-around;
}
.item-des{
    font-weight: 600;
}

