/* header section */
.nav-title{
    margin-left: 50px;
    font-size: 30px;
    
}
nav a{
    text-decoration: none;
}

/* first div  */
.first-div{
    
    /* I want to put another picture on top of one picture */
     /* I want to add caption under the picture */
     margin-top: 20px;
    background-image: url("../B10A1-Challenge-Begins/assets/hero-bg.png");
    background-size: cover;
    background-position: center;
    height: 100vh;
    justify-content: center;
    align-items: center;
    color: #0D1321;
    font-family: "Azeret Mono";
    font-weight: ExtraBold;
    font-size: 40px;
    text-align: center;
}

#dark-2{
    font-weight: 200;
    color: #0D1321;
    margin-top: -80px;
    font-size: 20px;
}

.contact-me{
    margin-top: 50px;
    margin-left: 50px;
    border: 2px solid black;
    padding: 20px 30px;
    font-size: 20px;
    font-family: "Azeret Mono";
    color: white;
    text-decoration: none;
    background-color: #0D1321;    
    font-weight: 800;
    border-radius: 10px;
}


/* navbar special fucntion */
.nav-1{
    display: flex;
    align-items: center;
}


/* download resume button  */
.hire-me{
    margin-left: auto;
    margin-right: 50px;
    border: 2px solid black;
    padding: 10px 20px;
    font-family: "Azeret Mono", monospace;
    text-decoration: none;
    color: #0D1321;    
    font-weight: 800;
    border-radius: 5px;
}

/* special fonts */
.azeret-mono-navbar {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    
}